<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Sql" connectionString="server=.;uid=sa;pwd=123456;database=DiaryManager"/>
    <!--现在一般用下面这种方式-->
    <add name="Sqlconn" connectionString="Data Source=.;Initial Catalog=DiaryManager;Uid=sa;Pwd=123456;Integrated Security=false"/>
                                                                        <!-- 这里如果设为true,表示使用windows身份验证，不用写（验证）用户名密码-->
  </connectionStrings>
</configuration>